{% from 'attachment.html' import make_attachment %}
{% macro forwarded_message(forwarded) %}
<tr>
    <td>{{forwarded.date}}</td>
        <td><a href="https://vk.com/{{forwarded.user.screen_name}}" target="_blank">{{forwarded.user.first_name}}</a></td>
        <td>{{forwarded.body}}</td>
        <td>{% if forwarded.attachments %}
            {% for attach in forwarded.attachments %}
                {{ make_attachment(attach) }}
            {% endfor %}
            {% endif %}
        </td>
</tr>
{% endmacro %}