{% from 'forwarded.html' import forwarded_message %}
{% from 'attachment.html' import make_attachment %}
<div id="Messages" class="tabcontent">
<div class="datagrid">
<table>
    <tr>
        <td>Time</td>
        <td>Name</td>
        <td>Message</td>
        <td>Attachments</td>
    </tr>
    {% for msg in msgs %}
    <tr>
        <td>{{msg.date}}</td>
        <td><a href="https://vk.com/{{msg.user.screen_name}}" target="_blank">{{msg.user.first_name}} {{msg.user.last_name}}</a></td>
        <td>{{msg.body}}<br>
            {% if msg.forwarded %}
                {% for forwarded in msg.forwarded %}
                    {{ forwarded_message(forwarded) }}
                {% endfor %}
            {% endif %}
        </td>
        <td>{% if msg.attachments %}
            {% for attach in msg.attachments %}
                {{ make_attachment(attach) }}
            {% endfor %}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
</div>
</div>